.edit-button {
    cursor: pointer;
    width: 70px;
    padding: 10px;
    background: #f5f5f5;
    border: 1px solid #7ac74f;
    color: #2b2d42;
    border-radius: 0.8rem;
    transition: 5ms;
}

.edit-button:hover {
    background: #7ac74f;
    color: white;
}

.edit-button:focus {
    outline: none;
}